.petlist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.petlist_header h1 {
  margin: 0;
}

.petlist_header a {
  text-decoration: none;
  background-color: #16479d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: .5em .8em;
  border-radius: 8px;
  border: 2px solid #16479d;
}

.petlist_header a:hover {
  background-color: transparent;
  color: #16479d;
}

.petlist_container {
  display: flex;
  flex-direction: column;
}

.petlist_row {
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

.petlist_row img {
  margin-right: 1em;
}

.petlist_row span {
  min-width: 200px;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 1em;
}

.actions a,
.actions button  {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: 7px 12px;
  border-radius: 5px;
  font-size: 12px;
}

.actions a {
  background-color: transparent;
  border: 2px solid #1baf1b;
  color: #1baf1b;
}


.actions button {
  background-color: transparent;
  border: 2px solid #D33944;
  color: #D33944;
}


.actions a:hover {
  background-color: #1baf1b;
  color: #fff;
}

.actions button:hover {
  color: #fff;
  background-color: #D33944;
}

.actions .conclude_btn {
  color: #16479d;
  border-color: #16479d;
}

.actions .conclude_btn:hover {
  color: #fff;
  background-color: #16479d;
}

.contacts {
  margin-left: -3em;
}

.contacts p {
  margin-bottom: .3em;
}