.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 15px;
}

.form-container h1 {
  margin-bottom: 1em;
}

.form-container input[type='submit'] {
  border-radius: 8px;
  background-color: #25B456;
  color: #FFF;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2em;
  transition: .3s;
}

.form-container input[type='submit']:hover {
  background-color: #1C8A42;
}

.form-container p {
  margin: 1em auto;
}