.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: #FFD400;
  color: #16479D;
  height: 10vh;
}

.navbar-logo {
  display: flex;
  align-items: center;

}

.navbar-logo img {
  width: 40px;
  margin-right: .8em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5px;
}

.navbar li, .navbar a {
  text-decoration: none;
  color: #16479D;
  font-weight: bold;
  cursor: pointer;
  transition: .6s;
  padding: .5em .8em;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #16479D;
}

.navbar li:hover > a {
  color: #FFF;
}