.footer {
  height: 100px; 
	width:100%;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
  color: #444;
  border-top: 1px solid #666;
}