.pet_home_header {
  margin-bottom: 2em;
}

.pet_home_header h1 {
  margin-bottom: .3em;
}

.pet_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pet_card {
  width: 22%;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}

.pet_card .image {
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 100%;
  margin-bottom: .2em;
}

.pet_card h3 {
  color: #16479d;
  margin-bottom: 1em;
  font-size: 1.6em;
  padding: 8px;
}

.pet_card .btn {
  margin-top: 1em;
}

.pet_card .btn a  {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid #ffd400;
  color: #16479d;
  margin-top: 1em;
}

.pet_card a:hover {
  background-color: #ffd400;
  color: #16479d;
}

.adopted_text {
  color: #25b456;
  font-weight: bold;
  padding: 15px;
}